///////////////////////////////////////////////////////////////////////////////////////////////////////
//sanctuary page
//////////////////////////////////////////////////////////////////////////////////////////////////////

.sanctuary {
    background-color: $component-black-background;
    //think on this
    border: 1px solid $gray-border-color;
    border-radius: .5rem;
    padding: 4rem;

    @include mobile {
        padding: 0;
    }

    @include tablet {
        padding: 2rem;
    }

    &__title {
        font-size: 6rem;
        font-weight: 400;

        @include mobile {
            font-size: 5rem;
        }
    }

    &__overview {
        font-size: 4rem;
        font-weight: 400;
        margin-top: 6rem;

        &--sub {
            font-size: 3rem;
            font-weight: 400;
            text-align: left;
            padding: 0 5rem;
            // text-decoration: underline;

            @include mobile {
                font-size: 2.5rem;
                padding: 0 1rem;
            }

            @include tablet {
                padding: 0 2rem;
            }
        }

        &--content {
            font-size: 2rem;
            font-weight: 300;
            text-align: left;
            padding: 0 5rem;

            @include mobile {
                padding: 0 1rem;
                font-size: 1.6rem;
            }

            @include tablet {
                padding: 0 2rem;
            }
        }
    }

    &__note {
        font-size: 4rem;
        font-weight: 400;
        margin-top: 6rem;

        &--content {
            font-size: 2rem;
            font-weight: 300;
            text-align: left;
            padding: 0 5rem;

            @include mobile {
                padding: 0 1rem;
                font-size: 1.6rem;
            }

            @include tablet {
                padding: 0 2rem;
            }

            p {
                font-size: 2rem;
                font-weight: 300;

                @include mobile {
                    font-size: 1.6rem;
                }
            }

            ul {
                li {
                    list-style: none;
                }
            }
        }
    }
}