* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.7;
    background-color: #030303;
    color: #D7DADC;
}

//Navbar
.container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 3rem 10%;
}

.nav__brand {
    // padding: 2rem 0 0 2rem;
    margin-right: auto;
    img {
        width: 5rem;
        // margin: 0 3rem 0 3rem;
    }
}

.nav__list {
    .nav__list-item {
        display: inline-block;
        margin-right: 4rem;
        font-size: 1.8rem;
        text-align: center;
        &:last-child {
          margin-right: 0;
        }
        a {
          color: #D7DADC;
          text-decoration: none;
        }
        
    }
}

