///////////////////////////////////////////////////////////////////////////////////////////////////////
//home page
//////////////////////////////////////////////////////////////////////////////////////////////////////

.home {
    &__title {
        font-size: 5rem;
        font-weight: 400;
    }

    &__intro {
        background-color: $component-black-background;
        //think on this
        border: 1px solid $gray-border-color;
        border-radius: .5rem;
        padding: 1rem;
        margin-bottom: 3rem;
        display: flex;
        align-items: center;
        justify-content: space-evenly;

        @include mobile {
            display: block;
        }

        &-description {
            font-weight: 200;
            font-size: 2rem;
            text-align: left;
            flex-basis: 85%;

            @include mobile {
                font-size: 1.6rem;
            }
        }

        &-image {
            padding: 1rem;
            width: 11rem;

            @include mobile {
                width: 6rem;
            }
        }
    }

    &__guides {
        background-color: $component-black-background;
        //think on this
        border: 1px solid $gray-border-color;
        // border-radius: .5rem;
        padding: 3rem;
        width: 100%;

        &-title {
            font-size: 5rem;
            font-weight: 300;
        }
    }

    &__guide {
        display: flex;

        &-image {
            padding: 1rem;
            // justify-content: space-between;
        }

        &-description {
            padding: 1rem;
        }
    }
}