@import "breakpoints.scss";
@import "color.scss";

//Navbar
.navbar {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: $component-black-background;
    border-bottom: 1px solid $gray-border-color;

    &__navigation {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 0rem 6rem;

        @include mobile {
            padding: 0;
            justify-content: space-between;

        }
    }   

    @include mobile {
        &__spacer {
            flex-grow: 0.7;
        }
    }

    &__brand {
        @include mobile {
            padding: 0.4rem;
        }
        .owner-logo {
            width: 3rem;
            border: 1px solid $font-color;
            border-radius: 2rem;
            @include mobile {
                width: 4rem;
            }
        }
    }

    &__list {
        display: flex;
    }

    &__list-item {
        display: inline-block;
        font-size: 1.5rem;
        text-align: center;
        color: $font-color;

        @include mobile {
            display: none;
        }

        &:first-child {
            margin-left: 6rem;
        }
        
        &:last-child {
            margin-right: 0;
        }
        
        &:hover {
            background-color: $grey-highlight;
        }

        a {
            display: inline-block;
            color: $font-color;
            padding: 1.5rem 2rem;
            text-decoration: none;
        }
    }

    &__toggle-button {
        margin-left: 2rem;

        @include desktop {
            display: none;
        }

        @include tablet {
            display: none;
        }
    }
}




