//Navbar
.navbar {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #1a1a1b;
    border-bottom: 1px solid #343536;
}

.container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1rem 5%;
}

.nav__brand {
    // padding: 2rem 0 0 2rem;
    margin-right: auto;
    .owner-logo {
        width: 3rem;
        border: 1px solid #d7dadc;
        border-radius: 2rem;
        // margin: 0 3rem 0 3rem;
    }
}

.nav__list {
    .nav__list-item {
        display: inline-block;
        margin-right: 4rem;
        font-size: 1.5rem;
        text-align: center;
        &:last-child {
            margin-right: 0;
        }
        a {
            color: #d7dadc;
            text-decoration: none;
        }
    }
}
