///////////////////////////////////////////////////////////////////////////////////////////////////////
//orbis page
//////////////////////////////////////////////////////////////////////////////////////////////////////

.orbis {
    background-color: $component-black-background;
    //think on this
    border: 1px solid $gray-border-color;
    border-radius: .5rem;
    padding: 4rem;

    &__title {
        font-size: 5rem;
        font-weight: 400;
    }
}