//reroll page

.reroll {
    &__title {
        font-size: 3rem;
        font-size: 5rem;
    }

    &__disclaimer {
        font-size: 3.5rem;
    }

    &__fivestar {
        font-size: 3.5rem;
    }

    &__fourstar {
        font-size: 3.5rem;
    }

    &__selectedfive {
        // think this over
        padding: 0 10%;
    }
}
.testing {
    display: flex;
    flex-wrap: wrap;
    //think this over
    padding: 0 15%;
    justify-content: center;

    @include smalldesktop {
        //think this over
        padding: 0 10%;
    }
    
}

.testing2 {
    padding: 2rem;
    flex: 0 33%;
    // flex-wrap: wrap;
}

.testing3 {
    padding: 2rem;
    // flex: 20%;
}