//DrawerToggleButton
.toggle-button {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 2.5rem;
    width: 3rem;
    background: transparent;
    border: none;
    cursor: pointer;

    &:focus {
        outline: none;
    }

    &__line {
        width: 3rem;
        height: 2px;
        background: white;
    }
}


//SideDrawer
.sidedrawer {
    height: 100%;
    background-color: #585858;
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.5); 
    position: fixed;
    top: 0;
    left: 0;
    width: 70%;
    // check this later
    max-width: 40rem;
    z-index: 200;

    &__list {
        height: 100%;
        list-style: none;
        display: flex;
        flex-direction: column;
        //work on this later
        // justify-content: center;
    }

    &__list-item {
        text-align: center;
    }

    a {
        color: white;
        text-decoration: none;
        font-size: 1.5rem;

        &:hover,
        &:active {
            // change this later
            color: green;
        }
    }
}

