//DrawerToggleButton
.toggle-button {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 2.5rem;
    width: 3rem;
    background: transparent;
    border: none;
    cursor: pointer;

    &:focus {
        outline: none;
    }

    &__line {
        width: 3rem;
        height: 2px;
        background: white;
    }
}


//SideDrawer
.sidedrawer {
    height: 100%;
    background-color: #1a1a1b;
    position: fixed;
    top: 0;
    left: 0;
    width: 70%;
    // check this later
    max-width: 40rem;
    z-index: 200;
    transform: translateX(-100%);
    transition: transform 0.3s ease-out;

    &.open {
        transform: translateX(0);
    }

    &__list {
        height: 100%;
        list-style: none;
        display: flex;
        flex-direction: column;
        box-shadow: 1px 0px 7px rgba(0, 0, 0, 0.5); 
        border: 1px solid #343536;
        //work on this later
        // justify-content: center;
    }

    &__list-item {
        text-align: center;
    }

    a {
        color: white;
        text-decoration: none;
        font-size: 1.5rem;

        &:hover,
        &:active {
            // change this later
            color: green;
        }
    }
}

@media (min-width: 769px) {
    .sidedrawer {
        display: none;
    }
}