@import "breakpoints.scss";
@import "color.scss";

//DrawerToggleButton
.toggle-button {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 2.5rem;
    width: 3rem;
    background: transparent;
    border: none;
    cursor: pointer;

    &:focus {
        outline: none;
    }

    &__line {
        width: 3rem;
        height: 2px;
        background: white;
    }
}


//SideDrawer
.sidedrawer {
    height: 100%;
    background-color: $component-black-background;
    position: fixed;
    top: 0;
    left: 0;
    width: 65%;
    // check this later
    max-width: 40rem;
    z-index: 200;
    transform: translateX(-100%);
    transition: transform 0.3s ease-out;

    &.open {
        transform: translateX(0);
    }

    &__list {
        height: 100%;
        list-style: none;
        display: flex;
        flex-direction: column;
        box-shadow: 1px 0px 7px rgba(0, 0, 0, 0.5); 
        border: 1px solid $gray-border-color;
        //work on this later
        // justify-content: center;
    }

    &__list-item {
        text-align: center;
        // padding: 1rem;
        border-bottom: 1px solid $gray-border-color;
    }

    a {
        color: $font-color;
        text-decoration: none;
        font-size: 1.5rem;
        display: block;
        padding: 1rem;
    }

    @include largedesktop {
        display: none;
    }

    @include smalldesktop {
        display: none;
    }
    
}

